<h1>Posts</h1>
<% Post.all.each do |post| %>
	<div class="media">
		<div class="media-body">
			<h4 class="media-heading">
				<%= link_to post.title, post_path(post.id) %>
			</h4>
		</div>
	</div>			
<% end %>

